<%= form_for(@selfie) do |f| %>
  <% if @selfie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selfie.errors.count, "error") %> prohibited this selfie from being saved:</h2>

      <ul>
      <% @selfie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
