<%= form_for(@device_token) do |f| %>
  <% if @device_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_token.errors.count, "error") %> prohibited this device_token from being saved:</h2>

      <ul>
      <% @device_token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
